Cloud5VideoHelper/Cloud5GenerateVTTbd.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "Cloud5GenVTTDBLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "dropbox_1_Connection_Name": {
      "type": "string",
      "defaultValue": "dropbox"
    },
    "dropbox_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "fboucheros@gmail.com"
    },
    "videoindexer_1_Connection_Name": {
      "type": "string",
      "defaultValue": "videoindexer"
    },
    "videoindexer_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Cloud5minHelper "
    },
    "videoindexer_1_api_key": {
      "type": "securestring",
      "metadata": {
        "description": "The API Key for this api"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('Cloud5GenVTTDBLocation')]",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('videoindexer_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('dropbox_1_Connection_Name'))]"
      ],
      "tags": {
        "displayName": "Cloud5GenVTTDB"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Upload_video_and_index": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['videoindexer']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Api/Partner/Breakdowns/FileContent",
                "body": {
                  "$content-type": "multipart/form-data",
                  "$multipart": [
                    {
                      "headers": {
                        "Content-Disposition": "form-data; name=\"fileContent\""
                      },
                      "body": "@triggerBody()"
                    }
                  ]
                },
                "queries": {
                  "language": "French",
                  "name": "@triggerOutputs()['headers']['x-ms-file-name']",
                  "privacy": "Private"
                }
              },
              "runAfter": {}
            },
            "Until": {
              "type": "Until",
              "expression": "@equals(body('Get_processing_state')?['state'], 'Processed')",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "actions": {
                "Get_processing_state": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['videoindexer']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/Api/Partner/Breakdowns/@{encodeURIComponent(body('Upload_video_and_index'))}/State"
                  },
                  "runAfter": {}
                },
                "Delay": {
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 3,
                      "unit": "Minute"
                    }
                  },
                  "runAfter": {
                    "Get_processing_state": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Upload_video_and_index": [
                  "Succeeded"
                ]
              }
            },
            "Get_the_transcript_(VTT)_url": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['videoindexer']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Api/Partner/Breakdowns/@{encodeURIComponent(body('Upload_video_and_index'))}/VttUrl"
              },
              "runAfter": {
                "Until": [
                  "Succeeded"
                ]
              }
            },
            "Get_Transcript_FIle": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@body('Get_the_transcript_(VTT)_url')"
              },
              "runAfter": {
                "Get_the_transcript_(VTT)_url": [
                  "Succeeded"
                ]
              }
            },
            "Create_file": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['dropbox']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/files",
                "queries": {
                  "folderPath": "/dev/cloud5min/vtt_fr",
                  "name": "@{triggerOutputs()['headers']['x-ms-file-name']}_FR.txt"
                },
                "body": "@body('Get_Transcript_FIle')"
              },
              "runAfter": {
                "Get_Transcript_FIle": [
                  "Succeeded"
                ]
              }
            },
            "Delete_file": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['dropbox']['connectionId']"
                  }
                },
                "method": "delete",
                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerOutputs()['headers']['x-ms-file-id']))}"
              },
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_file_is_created": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['dropbox']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/triggers/onnewfile",
                "queries": {
                  "folderId": "id:4S_qHNTwLOUAAAAAAAAN1w",
                  "inferContentType": true
                }
              },
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              },
              "metadata": {
                "id:4S_qHNTwLOUAAAAAAAAN1w": "/dev/cloud5min/videos"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "videoindexer": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('Cloud5GenVTTDBLocation'), '/managedApis/', 'videoindexer')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('videoindexer_1_Connection_Name'))]",
                "connectionName": "[parameters('videoindexer_1_Connection_Name')]"
              },
              "dropbox": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('Cloud5GenVTTDBLocation'), '/managedApis/', 'dropbox')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('dropbox_1_Connection_Name'))]",
                "connectionName": "[parameters('dropbox_1_Connection_Name')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('dropbox_1_Connection_Name')]",
      "location": "[parameters('Cloud5GenVTTDBLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('Cloud5GenVTTDBLocation'), '/managedApis/', 'dropbox')]"
        },
        "displayName": "[parameters('dropbox_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('videoindexer_1_Connection_Name')]",
      "location": "[parameters('Cloud5GenVTTDBLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('Cloud5GenVTTDBLocation'), '/managedApis/', 'videoindexer')]"
        },
        "displayName": "[parameters('videoindexer_1_Connection_DisplayName')]",
        "parameterValues": {
          "api_key": "[parameters('videoindexer_1_api_key')]"
        }
      }
    }
  ],
  "outputs": {}
}